php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Europe/Lisbon
ErrorDocument 404 https://josefernandes.pt/404.php
<IfModule mod_headers.c>
    Header set Server "Apache"
    Header set X-Content-Type-Options "nosniff"
</IfModule>
<IfModule mod_http2.c>
    Protocols h2
</IfModule>