php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Europe/Lisbon
ErrorDocument 404 https://josefernandes.dev/404
ErrorDocument 403 https://josefernandes.dev/403
<IfModule mod_http2.c>
    Protocols h2
</IfModule>
<IfModule mod_headers.c>
    Header set Server "Apache"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "same-origin"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains;"
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js https://challenges.cloudflare.com/turnstile/v0/api.js https://*.cloudflare.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; img-src 'self'; frame-src 'self' https://challenges.cloudflare.com/ https://josefernandes.dev https://www.josefernandes.dev;"
    Header set Content-Type "application/json" "expr=%{REQUEST_URI} =~ m#^/manifest\.json$#"
</IfModule>
<IfModule mod_version.c>
    ServerTokens Prod
    ServerSignature Off
</IfModule>

# Não permitir acveso a ficheiros css|png|jpg|jpeg|gif|woff|woff2|ttf|svg|webp
<FilesMatch "\.(css|png|jpg|jpeg|gif|woff|woff2|ttf|svg|webp)$">
    SetEnvIf Referer "^https://(www\.)?josefernandes\.dev" internal_ref
    Order Deny,Allow
    Deny from all
    Allow from env=internal_ref
</FilesMatch>

# Ativar engine de redirecionamento 
RewriteEngine On

# Redirecionar para a pagina 403 caso o URL seja de um ficheiro gitignore|json|lock|po|mo exluindo o manifest.json
RewriteCond %{REQUEST_URI} !^/manifest\.json [NC]
RewriteRule ^.*\.(gitignore|json|lock|po|mo)$ /403 [L,R=403]

# Redirecionar para a pagina 403 caso o URL seja de um ficheiro css|png|jpg|jpeg|gif|woff|woff2|ttf|svg|webp
RewriteCond %{REQUEST_URI} \.(css|png|jpg|jpeg|gif|woff|woff2|ttf|svg|webp)$
RewriteCond %{HTTP_REFERER} !^https://(www\.)?josefernandes\.dev [NC]
RewriteRule ^.*$ /403 [L,R=403]

# Reescrever URLs para ocultar .php
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME}.php -f 
RewriteRule ^(.*)$ $1.php [L,QSA]